# **How trustworthy is your local representative?**

#### Data Sources:
politifact api documentation: http://static.politifact.com/api/v2apidoc.html <br>
govtrack api documentation: https://www.govtrack.us/developers/api <br>
propublica: https://projects.propublica.org/api-docs/congress-api/ <br>
congressional misconduct database: https://www.govtrack.us/misconduct <br>
news api: https://newsapi.org/docs <br>
votesmart: https://github.com/votesmart/python-votesmart/tree/master

## To do: April 15

1. Crawl truth-o-meter data âœ…
2. Join truth-o-meter, misconduct db, and propublica **(in-progress)**
3. Structure bill vote
4. Incorporate news headlines
5. incorprate tweets (?)

In [1]:
import requests

import json

import pandas as pd
import numpy as np
import datetime as dt

from IPython.display import clear_output

import os
import time
import ast

import requests
from lxml import html

# Politifact
politifact api documentation: http://static.politifact.com/api/v2apidoc.html

In [2]:
def get_politifact(limit,offset):
    pf_url = 'http://www.politifact.com/api/v/2/statement/'

    params = {
        'format' : 'json',
        'edition__edition_slug':'truth-o-meter',
        'limit' : limit,
        'offset' : offset,
        'order_by' : 'ruling_date',
    }

    resp = requests.get(pf_url,params=params).json()
    pf = pd.DataFrame(resp['objects'])
    return pf

def restart_politifact(file_path):
    
    """Restart Politifact Crawl"""
    
    df = get_politifact(100,0)
    df.to_json(file_path)
    
def refresh_politifact(file_path):
    """Refresh Politifact CSV"""
    cols = get_politifact(1,0).columns
    df = pd.read_json(file_path)
    print('Pre-refresh length:',len(df))
    df = df.drop_duplicates('statement')[cols]
    print('Post-refreshed length:',len(df))
    df.to_json(file_path)
    
def preview_cols(df):
    for col in df.columns:
        display(df[col].head(3))

### get_politifact.py script (markdown)

Unix commands: <br>
pause: ctr + c <br>
resume: fg <br>
```python
import time
import pandas as pd
import requests
import json
import os

print('\nGet Politifact\n')

limit = 100
file_name = 'Politifact.json'
folder_name = 'Data'

file_name = '/' + file_name
folder_name = '/' + folder_name

json_path = os.getcwd()+folder_name+file_name

def get_politifact(limit,offset):
    """Crawl Politifact API"""
    pf_url = 'http://www.politifact.com/api/v/2/statement/'
    params = {
        'format' : 'json',
        'edition__edition_slug':'truth-o-meter',
        'limit' : limit,
        'offset' : offset,
        'order_by' : 'ruling_date'}
    resp = requests.get(pf_url,params=params).json()
    pf = pd.DataFrame(resp['objects'])
    return pf

if not os.path.isdir(os.getcwd()+folder_name):
    os.mkdir(os.getcwd()+folder_name)
    print('* New dir made: ',os.getcwd()+folder_name)

if not os.path.isfile(json_path):
    t1 = time.time()
    df = get_politifact(100,0)
    df.to_json(json_path)
    print('* New file made:',json_path,'\n')
    print('data_length:',len(df))
    timer = time.time() - t1
    print('runtime: {rt} seconds'.format(rt=round(timer,2)))
    time.sleep(5)
print('*'*20)

run = True
while run:
    try:
        t1 = time.time()
        old_df = pd.read_json(json_path)
        old_offset = len(old_df)+1

        print('data_length:',len(old_df))
        print('Offset:',old_offset)
        print('Getting data...')

        new_df = get_politifact(limit,old_offset)
        cols = new_df.columns

        df = old_df.append(new_df).drop_duplicates('statement').reset_index()[cols]
        df.to_json(json_path)
        
        print('---')
        print('data_length:',len(df))
        
        exp = old_offset+limit
        print('Expected offset:',exp)
        print('---')

        new_offset = len(df)+1
        print('New offset:',new_offset)

        timer = time.time() - t1
        print('runtime: {rt} seconds'.format(rt=round(timer,2)))

        if exp < new_offset:
            print('#'*10,'OFFSET ERROR','#'*10)
        elif new_offset > exp:
            print('OFFSET Diff:',new_offset-exp)

        if new_offset == old_offset:
            print('#'*10,'OFFSET STABLE','#'*10)
            break

        time.sleep(5)
    except:
        print('#'*10,'EXCEPT ACTIVATED','#'*10)
        run = False
    print('='*20)
```

### Politifact Cleaning

In [5]:
json_path = os.getcwd()+'/Data/Politifact.json'
pf = pd.read_json(json_path)
pf.sort_values('statement_date',ascending=False,inplace=True)
pf.reset_index(inplace=True)

pf['statement_date'] = pd.to_datetime(pf['statement_date'])
pf['ruling_date'] = pd.to_datetime(pf['ruling_date'])
pf['statement'] = (pf['statement'].str.replace('<p>',"").str.replace('</p>','')
                   .str.replace('"','').str.replace('&quot;','')
                   .str.replace('\r','').str.replace('\n','').str.replace('&#39;','\''))
pf['ruling_comments'] = (pf['ruling_comments'].str.replace('<p>',"").str.replace('</p>','')
                   .str.replace('"','').str.replace('&quot;','')
                   .str.replace('\r','').str.replace('\n','').str.replace('&#39;','\''))

pf['ruling_slug'] = [ruling['ruling_slug'] for ruling in pf['ruling']]

pf['name_slug'] = [speaker['name_slug'] for speaker in pf['speaker']]
pf['home_state'] = [speaker['home_state'] for speaker in pf['speaker']]
pf['party'] = [speaker['party']['party_slug'] for speaker in pf['speaker']]
pf['first_name'] = [speaker['first_name'] for speaker in pf['speaker']]
pf['last_name'] = [speaker['last_name'] for speaker in pf['speaker']]

pf['statement_type'] = [statement['statement_type'] for statement in pf['statement_type']]

pf['subject_slug'] = [[subject['subject_slug'] for subject in subjects] for subjects in pf['subject']]

In [6]:
sub = 'last_name'
main = 'speaker'
test_num = 10

import random

test = [random.randint(0,len(pf)) for i in range(test_num)]

for n in test:
    print(pf[sub].iloc[n] == pf.iloc[n][main][sub],'\t',pf[sub].iloc[n],pf.iloc[n][main][sub])

True 	 Romney Romney
True 	 McCain McCain
True 	 Trump Trump
True 	 Graham Graham
True 	 Paul Paul
True 	 Sanders Sanders
True 	 Romney Romney
True 	 Christie Christie
True 	 Facebook posts Facebook posts
True 	 Savage Savage

In [7]:
pf.columns

Index(['index', 'art', 'author', 'canonical_url', 'edition', 'editor',
       'facebook_headline', 'id', 'in_future', 'is_pundit', 'make_public',
       'preview', 'researcher', 'resource_uri', 'ruling', 'ruling_comments',
       'ruling_comments_date', 'ruling_date', 'ruling_headline',
       'ruling_headline_slug', 'ruling_link_text', 'ruling_state',
       'source_documents', 'sources', 'speaker', 'statement',
       'statement_context', 'statement_date', 'statement_type', 'subject',
       'target', 'twitter_headline', 'ruling_slug', 'name_slug', 'home_state',
       'party', 'first_name', 'last_name', 'subject_slug'],
      dtype='object')

In [8]:
politifact = pf[['ruling_slug','first_name','last_name','name_slug',
                 'home_state','party','statement',
                 'subject_slug','ruling_comments','ruling_date',
                 'statement_context','statement_type','statement_date',
                 'twitter_headline','sources']]
politifact.head()

,ruling_slug,first_name,last_name,name_slug,home_state,party,statement,subject_slug,ruling_comments,ruling_date,statement_context,statement_type,statement_date,twitter_headline,sources
0,barely-true,Tina,Smith,tina-smith,Minnesota,democrat,"On average, American women only earn 80 cents ...","[diversity, jobs, women]",On April 10 -- Equal Pay Day -- Sen. Tina Smit...,2018-04-13 12:27:18,a tweet,Claim,2018-04-10,Do women get only 80 percent of the pay men do...,"<p>Tina Smith, <a href=""https://twitter.com/Se..."
1,mostly-true,Donald,Trump,donald-trump,New York,republican,When a car is sent to the United States from C...,"[china, trade]",President Donald Trump took to Twitter to bemo...,2018-04-09 17:06:15,in a tweet,Claim,2018-04-09,Does China slap a 25 percent tariff on America...,"<p><a href=""https://twitter.com/realDonaldTrum..."
2,barely-true,Donald,Trump,donald-trump,New York,republican,EPA administrator Scott Pruitt's short-term re...,[ethics],When Environmental Protection Agency administr...,2018-04-10 11:09:40,a tweet,Claim,2018-04-07,Did EPA's Pruitt pay below market rent?,"<p>Donald Trump, <a href=""https://twitter.com/..."
3,barely-true,Donald,Trump,donald-trump,New York,republican,Says Scott Pruitt&rsquo;s security spending wa...,"[environment, federal-budget, homeland-security]",President Donald Trump came out in defense of ...,2018-04-10 11:08:25,a tweet,Claim,2018-04-07,Comparing Scott Pruitt's security spending wit...,"<p>Donald Trump, <a href=""https://twitter.com/..."
4,barely-true,Donald,Trump,donald-trump,New York,republican,This will be the last time &mdash; April &mdas...,[taxes],If you are struggling to finish and file your ...,2018-04-09 08:00:00,an event in West Virginia,Claim,2018-04-05,Can taxpayers expect card-sized tax forms next...,"<p>Donald Trump, <a href=""https://www.whitehou..."
5,pants-fire,Donald,Trump,donald-trump,New York,republican,"In many places, like California, the same pers...",[elections],In a speech in West Virginia that was billed a...,2018-04-06 10:58:37,a speech in West Virginia,Claim,2018-04-05,No proof of Trump's claim that millions voted ...,"<p>Sharad Goel and Marc Meredith, et. al <a hr..."
6,pants-fire,,Bloggers,blog-posting,,none,YouTube witness makes shocking admission on li...,[fake-news],The day after a woman opened fire at the YouTu...,2018-04-06 12:51:31,a fake news blog post,Claim,2018-04-04,"Fake news says CNN ""pulled the plug"" during Yo...","<p>Daily Vine, <a href=""http://sharered.com/cn..."
7,barely-true,Todd,Rokita,todd-rokita,,republican,Luke Messer? He plotted with the Never-Trumper...,[candidates-biography],Three Republican candidates competing for a U....,2018-04-13 10:00:00,an ad,Claim,2018-04-03,Did Luke Messer plot to steal the nomination f...,"<p>Youtube, <a href=""https://www.youtube.com/w..."
8,barely-true,Donald,Trump,donald-trump,New York,republican,We&rsquo;ve started building the wall.,"[homeland-security, immigration]",President Donald Trump claimed his administrat...,2018-04-04 11:27:23,a press conference,Claim,2018-04-03,.@realdonaldtrump claims his promised border w...,"<p>Twitter, @CBSNews <a href=""https://twitter...."
9,mostly-true,Ruben,Gallego,ruben-gallego,Arizona,democrat,For what it would cost the (National) Guard to...,"[corrections-and-updates, homeland-security, h...",President Donald Trump&rsquo;s decision to sen...,2018-04-05 16:00:07,a tweet,Claim,2018-04-03,Is it cheaper to house a homeless vet than use...,"<p>Ruben Gallego, <a href=""https://twitter.com..."
10,barely-true,Donald,Trump,donald-trump,New York,republican,Mexico has very strong border laws -- ours are...,"[foreign-policy, immigration, legal-issues]",&nbsp;President Donald Trump offered an unflat...,2018-04-02 17:57:45,a tweet,Claim,2018-04-02,"Donald Trump off-base in comparison of U.S., M...","<p>Donald Trump, <a href=""https://twitter.com/..."
11,false,Donald,Trump,donald-trump,New York,republican,"Only fools, or worse, are saying that our mone...","[debt, federal-budget]",President Donald Trump took a swing at Amazon ...,2018-04-02 17:53:49,a tweet,Claim,2018-04-02,"No, the Postal Service isn't losing a fortune ...","<p>Tweet, <a href=""https://twitter.com/realDon..."
12,false,Ron,Wyden,ron-wyden,Oregon,democrat,Republicans in Congress are plotting to take a...,"[federal-budget, medicaid, medicare, social-se...",It&rsquo;s been a time-tested Democratic attac...,2018-04-05 16:24:59,a tweet,Claim,2018-03-29,Do Republicans in Congress want to take away S...,"<p>Ron Wyden, <a href=""https://twitter.com/Ron..."
13,mostly-true,Alex,Mooney,alex-mooney,West Virginia,republican,"From 2000-10, U.S. manufacturing employment sh...","[economy, jobs]",There&rsquo;s no question that manufacturing e...,2018-04-04 14:36:24,a Wall Street Journal op-ed,Claim,2018-03-25,How far has U.S. manufacturing employment fallen?,"<p>Alex Mooney, &quot;<a href=""https://www.wsj..."
14,barely-true,Donald,Trump,donald-trump,New York,republican,Last year we lost $500 billion on trade with C...,"[china, trade]",President Donald Trump ratcheted up pressure o...,2018-03-28 09:00:00,in a news conference,Claim,2018-03-23,Did the U.S. have a $500 billion deficit with ...,"<p>PolitiFact, &quot;<a href=""http://www.polit..."
15,barely-true,Joe,Manchin,joe-manchin,West Virginia,democrat,Small businesses in West Virginia make up abou...,"[economy, jobs, small-business]","Sen. Joe Manchin, D-W.Va., recently cheerleade...",2018-03-26 17:34:41,a tweet,Claim,2018-03-21,Joe Manchin off-target on small business share...,"<p>Joe Manchin, <a href=""https://twitter.com/S..."
16,pants-fire,,National Rifle Association,national-rifle-association,,none,March For Our Lives is backed by radicals with...,"[corrections-and-updates, guns]","As the National Rifle Association sees it, the...",2018-03-23 11:17:25,a segment on NRATV,Claim,2018-03-21,NRA say violent radicals behind March For Our ...,"<p>National Rifle Association, <a href=""https:..."
17,mostly-true,Doug,Jones,doug-jones,Alabama,democrat,States that have implemented waiting periods h...,[guns],"In his first speech on the Senate floor, Sen. ...",2018-03-24 12:00:00,,Claim,2018-03-21,Waiting periods on gun sales linked to suicide...,"<p>Centers for Disease Control and Prevention,..."
18,true,Evan,Jenkins,evan-jenkins,,republican,West Virginia has the highest overdose death r...,"[health-care, public-health]","As he runs for a U.S. Senate seat, Rep. Evan J...",2018-03-23 09:00:00,a press release,Claim,2018-03-20,Does West Virginia lead the nation in overdose...,"<p>Evan Jenkins, &quot;<a href=""https://evanje..."
19,pants-fire,,Viral image,viral-image,,none,The United States is 3rd in murders throughout...,"[crime, guns]",A viral meme shared on social media following ...,2018-03-28 11:47:37,In a meme,Claim,2018-03-20,Does the United States rank third in murders w...,"<p>United Nations Office of Drugs and Crime, <..."
20,half-true,Meghan,McCain,meghan-mccain,,talk-show-host,"It happened under Obama, and it was lauded by ...",[elections],As news reports surfaced of Cambridge Analytic...,2018-03-22 16:35:12,"a discussion on ""The View""",Claim,2018-03-20,"Comparing Facebook data use by Obama, Cambridg...","<p>ABC, <a href=""http://abc.go.com/shows/the-v..."
21,half-true,Donald,Trump,donald-trump,New York,republican,Robert Mueller&rsquo;s investigative team has ...,"[campaign-finance, corrections-and-updates, le...",During a weekend <a href=http://www.politifact...,2018-03-21 17:03:45,a tweet,Claim,2018-03-18,Fact-checking Donald Trump's claims about part...,"<p>Donald Trump, <a href=""https://twitter.com/..."
22,barely-true,Donald,Trump,donald-trump,New York,republican,"We do have a Trade Deficit with Canada, as we ...","[foreign-policy, trade]","At a closed-door fundraiser in Missouri, Presi...",2018-03-15 14:31:37,a tweet,Claim,2018-03-15,Donald Trump's misleading tweet on U.S. trade ...,"<p>Donald Trump, <a href=""https://twitter.com/..."
23,half-true,Donald,Trump,donald-trump,New York,republican,Says Democratic obstruction is the reason why ...,"[congress, congressional-rules]",President Donald Trump has long blamed Democra...,2018-03-16 11:26:11,in a tweet,Claim,2018-03-14,Why Trump appointments have lagged behind othe...,"<p><a href=""https://twitter.com/realdonaldtrum..."
24,false,Donald,Trump,donald-trump,New York,republican,"In Japan, they take a bowling ball from 20 fee...","[public-safety, trade]",President Donald Trump often speaks of how oth...,2018-03-15 17:41:13,a private fundraising appearance,Claim,2018-03-14,Trump botches Japanese bowling ball test,"<p><em>Washington Post</em>, <a href=""https://..."
25,half-true,Heidi,Heitkamp,heidi-heitkamp,North Dakota,democrat,There are no provisions in here that substanti...,[financial-regulation],The Senate just passed what may become the fir...,2018-03-20 13:47:47,an interview,Claim,2018-03-14,Is the Senate banking bill a big win for Wall ...,"<p>The Atlantic, <a href=""https://www.theatlan..."
26,false,Ryan,Zinke,ryan-zinke,Montana,republican,A Trump administration proposal for the Interi...,"[environment, federal-budget, infrastructure]",&nbsp;Interior Secretary Ryan Zinke said Presi...,2018-03-19 09:00:00,testimony before a Senate committee,Claim,2018-03-13,Ryan Zinke wrong that Trump proposal would be ...,"<p>Center for Western Priorities, <a href=""htt..."
27,mostly-true,,Bloggers,blog-posting,,none,Say&nbsp;Sean Hannity said in 2008 that Obama&...,"[foreign-policy, nuclear]",An image shared widely on <a href=https://m.fa...,2018-03-14 17:34:16,a Facebook post,Claim,2018-03-11,"Hannity's double standard on North Korea, Trum...","<p>Bloggers, <a href=""https://m.facebook.com/s..."
28,true,Donald,Trump,donald-trump,New York,republican,Says China and Singapore impose the death pena...,[drugs],President Donald Trump floated the idea of imp...,2018-03-14 10:37:41,a rally,Claim,2018-03-10,.@realdonaldtrump claims drug dealers get the ...,"<p>C-SPAN, <a href=""https://www.c-span.org/vid..."
29,half-true,Donald,Trump,donald-trump,New York,republican,American aluminum and steel are vital to our n...,"[military, trade]",When President Donald Trump imposed tariffs on...,2018-03-09 16:20:06,remarks before a Cabinet meeting,Claim,2018-03-08,How 'vital to our national security' are steel...,"<p>Donald Trump, <a href=""https://plus.cq.com/..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4795,pants-fire,Joe,Biden,joe-biden,Delaware,democrat,The president is brain-dead.,[bush-administration],"During a campaign stop in Iowa on July 4, the...",2007-08-24 00:00:00,"Des Moines, Iowa.",Claim,2007-07-04,None,"<p>\n <a href=""http://thecaucus.blogs.nytimes...."
4796,half-true,Rudy,Giuliani,rudy-giuliani,New York,republican,The $2.3-billion budget deficit I inherited wh...,[federal-budget],Rudy Giuliani often boasts of turning a $2.3-b...,2007-11-21 00:00:00,"""Innovators in Action"" magazine",Claim,2007-07-01,None,"Citizens Budget Commission, ""Rudolph W. Giulia..."
4797,half-true,Mike,Gravel,mike-gravel,Alaska,libertarian,21-million Americans could have a four-year co...,[iraq],Former U.S. Sen. Mike Gravel attacked the Iraq...,2007-09-20 00:00:00,"Washington, DC.",Claim,2007-06-28,None,"Congressional Research Service,<a href=""http:/..."
4798,pants-fire,Mike,Gravel,mike-gravel,Alaska,libertarian,"In 1972, we had a 179,000 human beings in jail...",[crime],In a debate at the historically black college...,2007-08-30 00:00:00,a debate at Howard University.,Claim,2007-06-28,None,"<p>\n <a href=""http://www.ojp.usdoj.gov/bjs/pu..."
4799,mostly-true,John,Edwards,john-edwards,North Carolina,democrat,An estimated 56 million Americans don't have b...,[economy],There's more than one source on these bank acc...,2007-08-23 00:00:00,New York City.,Claim,2007-06-21,None,"Federal Reserve Bulletin, <a href=""http://www...."
4800,half-true,Barack,Obama,barack-obama,Illinois,democrat,If we increase fuel efficiency standards to 40...,[energy],"Obama's Mideast oil claim, made to the America...",2007-06-22 00:00:00,"Washington, DC.",Claim,2007-06-19,None,"<a href=""http://www.eia.doe.gov/pub/oil_gas/pe..."
4801,mostly-true,Barack,Obama,barack-obama,Illinois,democrat,And it's going to be difficult for us to do th...,[iraq],"At a presidential forum in Washington, D.C., U...",2007-09-20 00:00:00,"Washington, DC.",Claim,2007-06-19,None,"Congressional Research Service,\n<a href=""http..."
4802,mostly-true,Dennis,Kucinich,dennis-kucinich,Ohio,democrat,I'm the first person who really took up the is...,[iraq],"On the topic of the conflict in Iraq, Dennis K...",2007-08-28 00:00:00,"Washington, DC",Claim,2007-06-19,None,"Sources: Congressional Record, ""The War on Ter..."
4803,true,Sam,Brownback,sam-brownback,Kansas,republican,I'm for a three-state political solution in Ir...,[iraq],"Indeed, Brownback teamed up with Sen. Joe Bide...",2007-07-10 00:00:00,,Attack,2007-06-08,None,"<a href=""http://www.joebiden.com/issues/?id=00..."
4804,false,Mike,Huckabee,mike-huckabee,Arkansas,republican,I'll tell you what I can tell this country: If...,[religion],Huckabee says there are probably plenty of pre...,2007-08-07 00:00:00,"Manchester, N.H.",Claim,2007-06-05,None,"<p>\n <a href=""http://www.cnn.com/2007/POLITIC..."
4805,false,Hillary,Clinton,hillary-clinton,New York,democrat,English is our national language...if it becom...,[immigration],In arguing that designating English as the cou...,2007-09-11 00:00:00,New Hampshire.,Claim,2007-06-03,None,"<a href=""http://www.senate.gov/legislative/LIS..."
4806,false,Rudy,Giuliani,rudy-giuliani,New York,republican,The crime decline in the United States would b...,[crime],"Here's the full quote, from Giuliani's May 31,...",2007-09-01 00:00:00,New York.,Claim,2007-05-31,None,"<a href=""http://bjsdata.ojp.usdoj.gov/dataonli..."
4807,true,Rudy,Giuliani,rudy-giuliani,New York,republican,Fifty-six percent decline in overall crime. A ...,[crime],At a speech to the Manhattan Institute in New ...,2007-10-26 00:00:00,"New York, N.Y.",Claim,2007-05-31,None,"<a href=""http://bjsdata.ojp.usdoj.gov/dataonli..."
4808,half-true,Chris,Dodd,chris-dodd,Connecticut,democrat,Barack Obama and Hillary Clinton have changed ...,[iraq],Here's the full quote: Chris Dodd has been cha...,2007-08-10 00:00:00,a TV ad.,Claim,2007-05-23,None,"<a href=""http://rs9.loc.gov/cgi-bin/bdquery/z?..."
4809,mostly-true,Joe,Biden,joe-biden,Delaware,democrat,Roadside bombs are responsible for 70 percent ...,[iraq],"In the May 23 news release, Biden of Delaware ...",2007-08-20 00:00:00,a news release.,Claim,2007-05-23,None,"<a href=""http://biden.senate.gov/newsroom/deta..."
4810,false,Tom,Tancredo,tom-tancredo,Colorado,republican,For every single scientist that tells you (glo...,"[climate-change, environment]","At a debate in South Carolina, Tancredo said h...",2007-06-12 00:00:00,"Columbia, S.C.",Claim,2007-05-15,,"<p><a href=""http://www.ipcc.ch/"">Intergovernme..."
4811,true,John,Edwards,john-edwards,North Carolina,democrat,We now have the greatest income inequality sin...,[economy],"Indeed, economists have found that the top tie...",2007-06-12 00:00:00,a story by Reuters wire service.,Claim,2007-05-12,None,"<a href=""http://elsa.berkeley.edu/~saez/pikett..."
4812,mostly-true,Bill,Richardson,bill-richardson,New Mexico,democrat,New Mexico moved up to sixth in the nation in ...,[job-accomplishments],"Richardson is correct, but doesn't mention the...",2007-06-19 00:00:00,a TV Ad.,Claim,2007-05-10,None,"New Mexico Department of Labor,\n<a href=""http..."
4813,mostly-true,Bill,Richardson,bill-richardson,New Mexico,democrat,New Mexico was 46th in teacher pay (when he wa...,[education],Richardson led a successful effort to raise te...,2007-06-12 00:00:00,a TV ad.,Claim,2007-05-10,None,"New Mexico Department of Labor,\n<a href=""http..."
4814,mostly-true,Bill,Richardson,bill-richardson,New Mexico,democrat,"I used tax cuts to help create over 80,000 job...",[taxes],Statistics from the Bureau of Labor Statistics...,2007-08-01 00:00:00,a TV Ad.,Claim,2007-05-10,None,"New Mexico Department of Labor,\n<a href=""http..."
4815,half-true,Barack,Obama,barack-obama,Illinois,democrat,"Both China and Japan have surpassed us, with J...",[energy],In a speech to the Detroit Economic Club on Ma...,2007-06-21 00:00:00,"Detroit, Mich.",Claim,2007-05-07,None,"<a href=""http://www.pewclimate.org/global-warm..."
4816,half-true,Rudy,Giuliani,rudy-giuliani,New York,republican,"When I was mayor of New York City, I encourage...",[abortion],"In early August, 2007, Rudy Giuliani announced...",2007-09-28 00:00:00,,Claim,2007-05-03,None,"<a href=""http://www.nytimes.com/2007/05/03/us/..."
4817,true,Tommy,Thompson,tommy-thompson,Wisconsin,republican,Tommy Thompson is the father of welfare reform...,[job-accomplishments],While it is certainly risky to claim fatherhoo...,2007-06-01 00:00:00,the Web.,Claim,2007-05-01,None,Interviews: Former Rep. Clay Shaw; Ron Haskins...
4818,true,Tommy,Thompson,tommy-thompson,Wisconsin,republican,Tommy Thompson created the first school choice...,[education],The Milwaukee Parental Choice Program was esta...,2007-05-02 00:00:00,his campaign Web site.,Claim,2007-05-01,None,"<p>Krista Kafer, Senior Policy Analyst for Edu..."
4819,mostly-true,Mitt,Romney,mitt-romney,Massachusetts,republican,(McCain) was opposed to ethanol. Now he's for it.,[energy],"On ethanol, McCain has maintained a long-stand...",2007-08-23 00:00:00,"Stratham, N.H.",Attack,2007-04-26,None,"Des Moines Register, May 30, 1999. ""Candidates..."
4820,half-true,Mitt,Romney,mitt-romney,Massachusetts,republican,(McCain) said he was opposed to overturning Ro...,[abortion],The Roe v. Wade charge against John McCain see...,2007-08-23 00:00:00,"Stratham, N.H.",Attack,2007-04-26,None,"<a href=""http://www.sfgate.com/cgi-bin/article..."
4821,true,Mitt,Romney,mitt-romney,Massachusetts,republican,Senator McCain voted against the Bush tax cuts...,[taxes],Romney is right that McCain switched on the ta...,2007-09-05 00:00:00,"Stratham, N.H.",Attack,2007-04-26,None,"<a href=""http://www.senate.gov/legislative/LIS..."
4822,mostly-true,John,McCain,john-mccain,Arizona,republican,The failings in our civil service are encourag...,[federal-budget],"Sen. John McCain, the Arizona Republican, over...",2007-09-01 00:00:00,Oklahoma City.,Claim,2007-03-21,None,"National Treasury Employees Union, email inter..."
4823,full-flop,Mitt,Romney,mitt-romney,Massachusetts,republican,\tOn signing a no-tax pledge,[taxes],"\tThese days, it&rsquo;s hard for candidates t...",2012-05-17 16:51:18,statements to the media,Flip,2007-01-04,,"<p>\r\n\tDemocratic National Committee, &quot;..."
4824,full-flop,Elena,Kagan,elena-kagan,New York,democrat,On whether a U.S. Supreme Court nominee should...,"[kagan-nomination, supreme-court]",We knew a flip flop might be coming after read...,2010-06-29 16:01:37,a law review article,Flip,1995-04-01,None,"<p>U.S. Senate Judiciary Committee, hearings o..."

# Govtrack (Deprecated)
govtrack api documentation: https://www.govtrack.us/developers/api

In [9]:
# Data on legislators

person = 'https://www.govtrack.us/api/v2/person'
role = 'https://www.govtrack.us/api/v2/role'

params = {
    'current' : 'true'
}

resp = requests.get(person).json()

legis = pd.DataFrame(resp['objects'])
hillary = legis[legis['lastname']=='Clinton']['bioguideid'].iloc[0]

# Propublica
propublica: https://projects.propublica.org/api-docs/congress-api/

In [10]:
from congress import Congress
propublica_key = 'wAxQ7sF8gcXCBRnY3lzegT23aljM4saALOb6JPlR'
congress = Congress(propublica_key)

cong = 80 # Earliest congress is 80
cong = 115 # Latest is 115

st = congress.members.filter('senate',congress = cong)
hs = congress.members.filter('house', congress = cong)

senate_cols = ['id','lis_id','state','state_rank','party',
               'first_name','last_name','middle_name',
               'gender','date_of_birth','in_office',
               'votes_with_party_pct','missed_votes_pct','missed_votes',
               'next_election','title','seniority', # Seniority = years served
               'leadership_role','dw_nominate', # look into dw_nominate
               'twitter_account']

house_cols = ['id','state','district','party',
              'first_name','last_name','middle_name',
              'gender','date_of_birth','in_office',
              'votes_with_party_pct','missed_votes_pct','missed_votes',
              'next_election','title','seniority',
              'leadership_role','dw_nominate',
              'twitter_account']

senate = pd.DataFrame(st[0]['members'])[senate_cols]
house = pd.DataFrame(hs[0]['members'])[house_cols]

In [41]:
print(pd.DataFrame(st[0]['members']).columns)

Index(['api_uri', 'contact_form', 'crp_id', 'cspan_id', 'date_of_birth',
       'dw_nominate', 'facebook_account', 'fax', 'fec_candidate_id',
       'first_name', 'gender', 'google_entity_id', 'govtrack_id', 'icpsr_id',
       'id', 'ideal_point', 'in_office', 'last_name', 'leadership_role',
       'lis_id', 'middle_name', 'missed_votes', 'missed_votes_pct',
       'next_election', 'ocd_id', 'office', 'party', 'phone', 'rss_url',
       'senate_class', 'seniority', 'short_title', 'state', 'state_rank',
       'suffix', 'title', 'total_present', 'total_votes', 'twitter_account',
       'url', 'votes_with_party_pct', 'votesmart_id', 'youtube_account'],
      dtype='object')

In [42]:
print(pd.DataFrame(hs[0]['members']).columns)

Index(['api_uri', 'at_large', 'contact_form', 'crp_id', 'cspan_id',
       'date_of_birth', 'district', 'dw_nominate', 'facebook_account', 'fax',
       'fec_candidate_id', 'first_name', 'gender', 'geoid', 'google_entity_id',
       'govtrack_id', 'icpsr_id', 'id', 'ideal_point', 'in_office',
       'last_name', 'leadership_role', 'middle_name', 'missed_votes',
       'missed_votes_pct', 'next_election', 'ocd_id', 'office', 'party',
       'phone', 'rss_url', 'seniority', 'short_title', 'state', 'suffix',
       'title', 'total_present', 'total_votes', 'twitter_account', 'url',
       'votes_with_party_pct', 'votesmart_id', 'youtube_account'],
      dtype='object')

### Connecting Propublica to Politifact

In [11]:
# Connect Senate to politifact
senate['name_slug'] = senate['first_name'].str.lower() + '-' + senate['last_name'].str.lower()

filter1 = senate[~senate['name_slug'].isin(politifact['name_slug'])]
filter2 = filter1[filter1['last_name'].isin(politifact['last_name'])]
filter3 = filter1[~filter1['last_name'].isin(politifact['last_name'])]

new_slugs = list()

for i in range(len(filter2)):
    name = ['first_name','last_name']
    col = 'last_name'
    query = filter2['last_name'].iloc[i]
    result = politifact[politifact[col] == query]
    slug = result['name_slug'].iloc[0]
    
    new_slugs.append(slug)
    '''
    print(filter2[name].iloc[i])
    display(result[name])
    print(slug)
    print('='*30)
    '''
new_slugs = [slug if slug != 'joe-kennedy' else 'john-kennedy' for slug in new_slugs]
new_slugs = [slug if slug != 'mark-udall' else 'tom-udall' for slug in new_slugs]

In [12]:
filter2.loc[:,'name_slug'] = new_slugs

/anaconda/lib/python3.6/site-packages/pandas/core/indexing.py:537: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [13]:
# Change name slugs
for index in filter2.index:
    print('old:',senate.loc[index]['name_slug'] == filter2.loc[index]['name_slug'],
          senate.loc[index]['name_slug'],'\t', filter2.loc[index]['name_slug'])
    senate.loc[index,'name_slug'] = filter2.loc[index]['name_slug']
    
print('='*20)

for index in filter2.index:
    print('new:',senate.loc[index]['name_slug'] == filter2.loc[index]['name_slug'],
          senate.loc[index]['name_slug'],'\t', filter2.loc[index]['name_slug'])

old: False shelley-capito 	 shelley-moore-capito
old: False benjamin-cardin 	 ben-cardin
old: False christopher-coons 	 chris-coons
old: False michael-enzi 	 mike-enzi
old: False charles-grassley 	 chuck-grassley
old: True john-kennedy 	 john-kennedy
old: False christopher-murphy 	 chris-murphy
old: False jim-risch 	 james-risch
old: False bernard-sanders 	 bernie-s
old: False patrick-toomey 	 pat-toomey
old: True tom-udall 	 tom-udall
old: False chris-van hollen 	 chris-van-hollen
====================
new: True shelley-moore-capito 	 shelley-moore-capito
new: True ben-cardin 	 ben-cardin
new: True chris-coons 	 chris-coons
new: True mike-enzi 	 mike-enzi
new: True chuck-grassley 	 chuck-grassley
new: True john-kennedy 	 john-kennedy
new: True chris-murphy 	 chris-murphy
new: True james-risch 	 james-risch
new: True bernie-s 	 bernie-s
new: True pat-toomey 	 pat-toomey
new: True tom-udall 	 tom-udall
new: True chris-van-hollen 	 chris-van-hollen

In [47]:
# Connect house to politifact
house['name_slug'] = house['first_name'].str.lower() + '-' + house['last_name'].str.lower()

filter1 = house[~house['name_slug'].isin(politifact['name_slug'])]
filter2 = filter1[filter1['last_name'].isin(politifact['last_name'])]
filter3 = filter1[~filter1['last_name'].isin(politifact['last_name'])]

new_slugs = list()

for i in range(len(filter2)):
    name = ['first_name','last_name']
    col = 'last_name'
    query = filter2['last_name'].iloc[i]
    result = politifact[politifact[col] == query]
    slug = result['name_slug'].iloc[0]
    
    new_slugs.append(slug)

    print(filter2['name_slug'].iloc[i])
    display(result[name])
    print('new slug:',slug)
    print('='*30)

new_slugs = [slug if slug != 'joe-kennedy' else 'john-kennedy' for slug in new_slugs]
new_slugs = [slug if slug != 'mark-udall' else 'tom-udall' for slug in new_slugs]

andy-barr

     first_name last_name
4287        Bob      Barr
4357        Bob      Barr

new slug: bob-barr
==============================
donald-beyer

     first_name last_name
1289        Don     Beyer

new slug: don-beyer
==============================
sanford-bishop

     first_name last_name
3749     Barney    Bishop

new slug: barney-bishop
==============================
mike-bishop

     first_name last_name
3749     Barney    Bishop

new slug: barney-bishop
==============================
rob-bishop

     first_name last_name
3749     Barney    Bishop

new slug: barney-bishop
==============================
robert-brady

    first_name last_name
123      Kevin     Brady

new slug: kevin-brady
==============================
david-brat

     first_name last_name
209        Dave      Brat
1184       Dave      Brat

new slug: dave-brat
==============================
susan-brooks

           first_name last_name
1315  Cornell William    Brooks
2608            David    Brooks
3379            David    Brooks
3766            David    Brooks

new slug: cornell-william-brooks
==============================
mo-brooks

           first_name last_name
1315  Cornell William    Brooks
2608            David    Brooks
3379            David    Brooks
3766            David    Brooks

new slug: cornell-william-brooks
==============================
anthony-brown

     first_name last_name
433       Jerry     Brown
1685      Jerry     Brown
2896      Scott     Brown
2919    Sherrod     Brown
3185      Jerry     Brown
3345      Jerry     Brown
3406    Sherrod     Brown
3407    Sherrod     Brown
3514      Scott     Brown
3523      Scott     Brown

new slug: jerry-brown
==============================
andrÃ©-carson

     first_name last_name
885         Ben    Carson
993         Ben    Carson
1031        Ben    Carson
1095     AndrÃ©     Carson
1108        Ben    Carson
1117        Ben    Carson
1138        Ben    Carson
1142        Ben    Carson
1143        Ben    Carson
1145        Ben    Carson
1150        Ben    Carson
1153        Ben    Carson
1155        Ben    Carson
1160        Ben    Carson
1185        Ben    Carson
1186        Ben    Carson
1200        Ben    Carson
1206        Ben    Carson
1241        Ben    Carson
1246        Ben    Carson
1263        Ben    Carson
1408        Ben    Carson

new slug: ben-carson
==============================
buddy-carter

     first_name last_name
2115      Jimmy    Carter
3742       John    Carter

new slug: jimmy-carter
==============================
joaquÃ­n-castro

     first_name last_name
148     Joaquin    Castro
706     Joaquin    Castro
2287     JuliÃ¡n    Castro

new slug: joaquin-castro
==============================
liz-cheney

     first_name last_name
1870       Dick    Cheney
2077       Dick    Cheney
3506       Dick    Cheney
3567       Dick    Cheney
3653       Dick    Cheney
3882       Dick    Cheney
3883       Dick    Cheney

new slug: dick-cheney
==============================
katherine-clark

     first_name last_name
3089     Wesley     Clark
4286     Wesley     Clark

new slug: wesley-clark
==============================
doug-collins

     first_name last_name
1967      Susan   Collins
2750      Gail    Collins

new slug: susan-collins
==============================
chris-collins

     first_name last_name
1967      Susan   Collins
2750      Gail    Collins

new slug: susan-collins
==============================
gerald-connolly

     first_name last_name
2927      Gerry  Connolly

new slug: gerry-connolly
==============================
jim-cooper

     first_name last_name
2084    Charles    Cooper

new slug: charles-cooper
==============================
rodney-davis

     first_name last_name
2301      Artur     Davis

new slug: artur-davis
==============================
danny-davis

     first_name last_name
2301      Artur     Davis

new slug: artur-davis
==============================
susan-davis

     first_name last_name
2301      Artur     Davis

new slug: artur-davis
==============================
daniel-donovan

     first_name last_name
2486     Shaun    Donovan
2832     Shaun    Donovan

new slug: shaun-donovan
==============================
jeffrey-duncan

     first_name last_name
2073       John    Duncan
2113       Arne    Duncan
2360       Jeff    Duncan
3210       Arne    Duncan
3750       Arne    Duncan

new slug: john-duncan
==============================
bob-gibbs

     first_name last_name
2362     Robert     Gibbs
3192     Robert     Gibbs
3652     Robert     Gibbs
3924     Robert     Gibbs
3953     Robert     Gibbs
3977     Robert     Gibbs

new slug: robert-gibbs
==============================
robert-goodlatte

     first_name  last_name
1643        Bob  Goodlatte

new slug: bob-goodlatte
==============================
garret-graves

     first_name last_name
1916        Tom    Graves

new slug: tom-graves
==============================
sam-graves

     first_name last_name
1916        Tom    Graves

new slug: tom-graves
==============================
andy-harris

     first_name last_name
75       Kamala    Harris
2278     Kamala    Harris

new slug: kamala-harris
==============================
sheila-jackson lee

     first_name    last_name
1597     Sheila  Jackson Lee

new slug: sheila-jackson-lee
==============================
hank-johnson

          first_name last_name
270              Ron   Johnson
413              Ron   Johnson
664             Gary   Johnson
680             Gary   Johnson
689             Gary   Johnson
694             Gary   Johnson
767              Ron   Johnson
791             Gary   Johnson
828             Gary   Johnson
1404             Ron   Johnson
1848             Ron   Johnson
2397            Gary   Johnson
2726            Gary   Johnson
2735            Gary   Johnson
2736            Gary   Johnson
2814            Gary   Johnson
2925            Gary   Johnson
3233  Eddie Bernice    Johnson
3277             Ron   Johnson

new slug: ron-johnson
==============================
mike-johnson

          first_name last_name
270              Ron   Johnson
413              Ron   Johnson
664             Gary   Johnson
680             Gary   Johnson
689             Gary   Johnson
694             Gary   Johnson
767              Ron   Johnson
791             Gary   Johnson
828             Gary   Johnson
1404             Ron   Johnson
1848             Ron   Johnson
2397            Gary   Johnson
2726            Gary   Johnson
2735            Gary   Johnson
2736            Gary   Johnson
2814            Gary   Johnson
2925            Gary   Johnson
3233  Eddie Bernice    Johnson
3277             Ron   Johnson

new slug: ron-johnson
==============================
bill-johnson

          first_name last_name
270              Ron   Johnson
413              Ron   Johnson
664             Gary   Johnson
680             Gary   Johnson
689             Gary   Johnson
694             Gary   Johnson
767              Ron   Johnson
791             Gary   Johnson
828             Gary   Johnson
1404             Ron   Johnson
1848             Ron   Johnson
2397            Gary   Johnson
2726            Gary   Johnson
2735            Gary   Johnson
2736            Gary   Johnson
2814            Gary   Johnson
2925            Gary   Johnson
3233  Eddie Bernice    Johnson
3277             Ron   Johnson

new slug: ron-johnson
==============================
sam-johnson

          first_name last_name
270              Ron   Johnson
413              Ron   Johnson
664             Gary   Johnson
680             Gary   Johnson
689             Gary   Johnson
694             Gary   Johnson
767              Ron   Johnson
791             Gary   Johnson
828             Gary   Johnson
1404             Ron   Johnson
1848             Ron   Johnson
2397            Gary   Johnson
2726            Gary   Johnson
2735            Gary   Johnson
2736            Gary   Johnson
2814            Gary   Johnson
2925            Gary   Johnson
3233  Eddie Bernice    Johnson
3277             Ron   Johnson

new slug: ron-johnson
==============================
eddie-johnson

          first_name last_name
270              Ron   Johnson
413              Ron   Johnson
664             Gary   Johnson
680             Gary   Johnson
689             Gary   Johnson
694             Gary   Johnson
767              Ron   Johnson
791             Gary   Johnson
828             Gary   Johnson
1404             Ron   Johnson
1848             Ron   Johnson
2397            Gary   Johnson
2726            Gary   Johnson
2735            Gary   Johnson
2736            Gary   Johnson
2814            Gary   Johnson
2925            Gary   Johnson
3233  Eddie Bernice    Johnson
3277             Ron   Johnson

new slug: ron-johnson
==============================
walter-jones

     first_name last_name
17         Doug     Jones
116        Doug     Jones
188        Doug     Jones
1930        Van     Jones

new slug: doug-jones
==============================
jim-jordan

     first_name last_name
3201       Mary    Jordan
3202       Mary    Jordan

new slug: mary-jordan
==============================
bill-keating

     first_name last_name
2092      Frank   Keating

new slug: frank-keating
==============================
trent-kelly

     first_name last_name
161        John     Kelly
293        John     Kelly
2081       Mark     Kelly

new slug: john-kelly
==============================
robin-kelly

     first_name last_name
161        John     Kelly
293        John     Kelly
2081       Mark     Kelly

new slug: john-kelly
==============================
mike-kelly

     first_name last_name
161        John     Kelly
293        John     Kelly
2081       Mark     Kelly

new slug: john-kelly
==============================
joseph-kennedy

     first_name last_name
67          Joe   Kennedy
1805    Patrick   Kennedy
3641    Patrick   Kennedy

new slug: joe-kennedy
==============================
raÃºl-labrador

     first_name last_name
309        Raul  Labrador
1636       Raul  Labrador
2790       Raul  Labrador

new slug: raul-labrador
==============================
darin-lahood

     first_name last_name
2111    Raymond    LaHood

new slug: raymond-lahood
==============================
jason-lewis

    first_name last_name
445       John     Lewis

new slug: john-lewis
==============================
sean-maloney

     first_name last_name
366     Carolyn   Maloney
3548    Carolyn   Maloney

new slug: carolyn-maloney
==============================
cathy-mcmorris rodgers

     first_name         last_name
1797      Cathy  McMorris Rodgers
2075      Cathy  McMorris Rodgers

new slug: cathy-mcmorris-rodgers
==============================
gwen-moore

     first_name last_name
126       Kayla     Moore
164         Roy     Moore
200         Roy     Moore
230         Roy     Moore
1422        Roy     Moore
2155    Michael     Moore
2719    Michael     Moore
2890      Steve     Moore
2966      Steve     Moore
3037      Steve     Moore
3678    Michael     Moore
3679    Michael     Moore
3680    Michael     Moore
3681    Michael     Moore
3682    Michael     Moore
3685    Michael     Moore
3688    Michael     Moore
3692    Michael     Moore
3695    Michael     Moore
4378    Michael     Moore

new slug: kayla-moore
==============================
stephanie-murphy

     first_name last_name
269       Chris    Murphy
303       Chris    Murphy
365       Chris    Murphy
713       Chris    Murphy
1508       Tim     Murphy
1812      Chris    Murphy
3855       Mike    Murphy

new slug: chris-murphy
==============================
grace-napolitano

     first_name   last_name
1884     Andrew  Napolitano
1944      Janet  Napolitano
2476     Andrew  Napolitano
3309     Andrew  Napolitano
3396      Janet  Napolitano

new slug: andrew-napolitano
==============================
eleanor-norton

     first_name last_name
3289       Jane    Norton

new slug: jane-norton
==============================
beto-o'rourke

     first_name last_name
1625       Beto  O'Rourke

new slug: beto-orourke
==============================
jimmy-panetta

     first_name last_name
2674       Leon   Panetta

new slug: leon-panetta
==============================
scott-peters

     first_name last_name
1718       Gary    Peters

new slug: gary-peters
==============================
collin-peterson

     first_name last_name
3367       Dale  Peterson
3368       Dale  Peterson

new slug: dale-peterson
==============================
david-price

     first_name last_name
373         Tom     Price
379         Tom     Price
918         Tom     Price
3525        Tom     Price
3718        Tom     Price

new slug: tom-price
==============================
harold-rogers

     first_name last_name
352        Mike    Rogers
1660      Mike     Rogers
1693      Mike     Rogers
1765      Mike     Rogers
1861      Mike     Rogers
2016      Mike     Rogers
2022      Mike     Rogers

new slug: mike-rogers
==============================
tim-ryan

     first_name last_name
144        Paul      Ryan
225        Paul      Ryan
267        Paul      Ryan
311        Paul      Ryan
692        Paul      Ryan
930        Paul      Ryan
1069       Paul      Ryan
1078       Paul      Ryan
1351       Paul      Ryan
1762       Paul      Ryan
1825       Paul      Ryan
1965       Paul      Ryan
2097       Paul      Ryan
2193       Paul      Ryan
2195       Paul      Ryan
2197       Paul      Ryan
2201       Paul      Ryan
2203       Paul      Ryan
2204       Paul      Ryan
2205       Paul      Ryan
2206       Paul      Ryan
2236       Paul      Ryan
2264       Paul      Ryan
2297       Paul      Ryan
2445       Paul      Ryan
2907       Paul      Ryan
2976       Paul      Ryan
3046       Paul      Ryan
3051       Paul      Ryan
3443       Paul      Ryan

new slug: paul-ryan
==============================
david-scott

    first_name last_name
121        Tim     Scott

new slug: tim-scott
==============================
robert-scott

    first_name last_name
121        Tim     Scott

new slug: tim-scott
==============================
austin-scott

    first_name last_name
121        Tim     Scott

new slug: tim-scott
==============================
pete-sessions

     first_name last_name
94         Jeff  Sessions
130        Jeff  Sessions
169        Jeff  Sessions
214        Jeff  Sessions
255        Jeff  Sessions
283        Jeff  Sessions
317        Jeff  Sessions
330        Jeff  Sessions
355        Jeff  Sessions
772        Jeff  Sessions
775        Jeff  Sessions
776        Jeff  Sessions
2002       Jeff  Sessions
2072       Jeff  Sessions
3310       Jeff  Sessions
3374       Jeff  Sessions

new slug: jeff-sessions
==============================
christopher-smith

     first_name last_name
0          Tina     Smith
203       Lamar     Smith
3841      Lamar     Smith
3972       Fred     Smith

new slug: tina-smith
==============================
jason-smith

     first_name last_name
0          Tina     Smith
203       Lamar     Smith
3841      Lamar     Smith
3972       Fred     Smith

new slug: tina-smith
==============================
adam-smith

     first_name last_name
0          Tina     Smith
203       Lamar     Smith
3841      Lamar     Smith
3972       Fred     Smith

new slug: tina-smith
==============================
adrian-smith

     first_name last_name
0          Tina     Smith
203       Lamar     Smith
3841      Lamar     Smith
3972       Fred     Smith

new slug: tina-smith
==============================
chris-stewart

     first_name last_name
2854        Jon   Stewart
3517        Jon   Stewart

new slug: jon-stewart
==============================
bennie-thompson

     first_name last_name
2083       Fred  Thompson
4151       Fred  Thompson
4156       Fred  Thompson
4599       Fred  Thompson
4634       Fred  Thompson
4636       Fred  Thompson
4648       Fred  Thompson
4653       Fred  Thompson
4655       Fred  Thompson
4675       Fred  Thompson
4725       Fred  Thompson
4755       Fred  Thompson
4756       Fred  Thompson
4780       Fred  Thompson
4781       Fred  Thompson
4817      Tommy  Thompson
4818      Tommy  Thompson

new slug: fred-thompson
==============================
glenn-thompson

     first_name last_name
2083       Fred  Thompson
4151       Fred  Thompson
4156       Fred  Thompson
4599       Fred  Thompson
4634       Fred  Thompson
4636       Fred  Thompson
4648       Fred  Thompson
4653       Fred  Thompson
4655       Fred  Thompson
4675       Fred  Thompson
4725       Fred  Thompson
4755       Fred  Thompson
4756       Fred  Thompson
4780       Fred  Thompson
4781       Fred  Thompson
4817      Tommy  Thompson
4818      Tommy  Thompson

new slug: fred-thompson
==============================
mike-thompson

     first_name last_name
2083       Fred  Thompson
4151       Fred  Thompson
4156       Fred  Thompson
4599       Fred  Thompson
4634       Fred  Thompson
4636       Fred  Thompson
4648       Fred  Thompson
4653       Fred  Thompson
4655       Fred  Thompson
4675       Fred  Thompson
4725       Fred  Thompson
4755       Fred  Thompson
4756       Fred  Thompson
4780       Fred  Thompson
4781       Fred  Thompson
4817      Tommy  Thompson
4818      Tommy  Thompson

new slug: fred-thompson
==============================
mark-walker

     first_name last_name
1225      Scott    Walker
1949      Scott    Walker
2304      Scott    Walker
2995      Scott    Walker

new slug: scott-walker
==============================
debbie-wasserman schultz

     first_name          last_name
291      Debbie  Wasserman Schultz
1183     Debbie  Wasserman Schultz
1613     Debbie  Wasserman Schultz
1614     Debbie  Wasserman Schultz
1850     Debbie  Wasserman Schultz
1894     Debbie  Wasserman Schultz
1929     Debbie  Wasserman Schultz
1941     Debbie  Wasserman Schultz
2001     Debbie  Wasserman Schultz
2105     Debbie  Wasserman Schultz
2646     Debbie  Wasserman Schultz
2657     Debbie  Wasserman Schultz
2867     Debbie  Wasserman Schultz
2877     Debbie  Wasserman Schultz
2889     Debbie  Wasserman Schultz
2892     Debbie  Wasserman Schultz
3215     Debbie  Wasserman Schultz
3232     Debbie  Wasserman Schultz
3484     Debbie  Wasserman Schultz
3628     Debbie  Wasserman Schultz

new slug: debbie-wasserman-schultz
==============================
frederica-wilson

     first_name last_name
3732        Joe    Wilson

new slug: joe-wilson
==============================
david-young

     first_name last_name
1506        Don     Young
1919  C.W. Bill     Young
2011       Todd     Young

new slug: don-young
==============================

### Bill and Voting

In [16]:
# Preview html
url = congress.votes.by_month('house')['votes'][0]['source']
response = requests.get(url)
print(response.text[:1000])

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE rollcall-vote PUBLIC "-//US Congress//DTDs/vote v1.0 20031119 //EN" "http://clerk.house.gov/evs/vote.dtd">
<?xml-stylesheet type="text/xsl" href="http://clerk.house.gov/evs/vote.xsl"?>
<rollcall-vote>
<vote-metadata>
<majority>R</majority>
<congress>115</congress>
<session>2nd</session>
<chamber>U.S. House of Representatives</chamber>
<rollcall-num>141</rollcall-num>
<legis-num>S 167</legis-num>
<vote-question>On Motion to Suspend the Rules and Pass</vote-question>
<vote-type>2/3 YEA-AND-NAY</vote-type>
<vote-result>Passed</vote-result>
<action-date>16-Apr-2018</action-date>
<action-time time-etz="19:03">7:03 PM</action-time>
<vote-desc>To designate a National Memorial to Fallen Educators at the National Teachers Hall of Fame in Emporia, Kansas</vote-desc>
<vote-totals>
<totals-by-party-header>
<party-header>Party</party-header>
<yea-header>Yeas</yea-header>
<nay-header>Nays</nay-header>
<present-header>Answered Ã¢Â€Âœ

In [38]:
url = congress.votes.by_month('house')['votes'][0]['source']

response = requests.get(url)
doc = html.fromstring(response.content)

print(doc.xpath('//vote-desc')[0].text_content())
print(doc.xpath('//legis-num')[0].text_content())
print('*'*20)

n = 0
for record in doc.xpath('//vote-data/recorded-vote'):
    while n < 3:
        print(n)
        rep_id = record.xpath('./legislator')[0].get('name-id')
        party = record.xpath('./legislator')[0].get('party')
        state = record.xpath('./legislator')[0].get('state')
        name = record.xpath('./legislator')[0].text_content()
        vote = record.xpath('./vote')[0].text_content()

        print(name,party+'-'+state)
        print(rep_id)
        print(vote)
        print('-'*5)
        n += 1

To designate a National Memorial to Fallen Educators at the National Teachers Hall of Fame in Emporia, Kansas
S 167
********************
0
Abraham R-LA
A000374
Yea
-----
1
Abraham R-LA
A000374
Yea
-----
2
Abraham R-LA
A000374
Yea
-----

In [18]:
print(congress.votes.by_month('senate')['votes'][1]['url'])

https://www.senate.gov/legislative/LIS/roll_call_lists/roll_call_vote_cfm.cfm?congress=115&session=2&vote=00073

In [39]:
url = congress.votes.by_month('senate')['votes'][1]['source']

response = requests.get(url)
doc = html.fromstring(response.content)

print(doc.xpath('//vote_title')[0].text_content())
print('*'*20)

n = 0
for member in doc.xpath('//member'):
    while n < 3:
        print(n)
        print(member.xpath('./member_full')[0].text_content())
        print(member.xpath('./first_name')[0].text_content())
        print(member.xpath('./vote_cast')[0].text_content())
        print(member.xpath('./lis_member_id')[0].text_content())
        print('-'*10)
        n+=1

Motion to Invoke Cloture Re: Rebecca Grady Jennings, of Kentucky, to be U.S. District Judge for the Western District of Kentucky
********************
0
Alexander (R-TN)
Lamar
Yea
S289
----------
1
Alexander (R-TN)
Lamar
Yea
S289
----------
2
Alexander (R-TN)
Lamar
Yea
S289
----------

In [20]:
# compare
congress.members.compare('S000033','C001098','senate',congress=cong)

{'agree_percent': 16.4,
 'chamber': 'Senate',
 'common_votes': 378,
 'congress': '115',
 'disagree_percent': 83.6,
 'disagree_votes': 316,
 'first_member_api_uri': 'https://api.propublica.org/congress/v1/members/S000033.json',
 'first_member_id': 'S000033',
 'second_member_api_uri': 'https://api.propublica.org/congress/v1/members/C001098.json',
 'second_member_id': 'C001098'}

In [21]:
#bills
pd.DataFrame(congress.bills.by_member(senate['id'][0])['bills']).head(3)

,active,bill_id,bill_type,bill_uri,committees,congress,congressdotgov_url,cosponsors,cosponsors_by_party,enacted,...,sponsor_id,sponsor_name,sponsor_party,sponsor_state,sponsor_title,sponsor_uri,summary,summary_short,title,vetoed
0,False,s2513-115,s,https://api.propublica.org/congress/v1/115/bil...,"Senate Health, Education, Labor, and Pensions ...",115,https://www.congress.gov/bill/115th-congress/s...,15,{'R': 15},None,...,A000360,Lamar Alexander,R,TN,Sen.,https://api.propublica.org/congress/v1/members...,,,A bill to improve school safety and mental hea...,None
1,False,s2509-115,s,https://api.propublica.org/congress/v1/115/bil...,Senate Energy and Natural Resources Committee,115,https://www.congress.gov/bill/115th-congress/s...,7,"{'R': 4, 'D': 2, 'I': 1}",None,...,A000360,Lamar Alexander,R,TN,Sen.,https://api.propublica.org/congress/v1/members...,,,A bill to establish the National Park Restorat...,None
2,True,s2434-115,s,https://api.propublica.org/congress/v1/115/bil...,"Senate Health, Education, Labor, and Pensions ...",115,https://www.congress.gov/bill/115th-congress/s...,0,{},None,...,A000360,Lamar Alexander,R,TN,Sen.,https://api.propublica.org/congress/v1/members...,,,"A bill to amend the Federal Food, Drug, and Co...",None

In [22]:
# same thing, above is probably better
pd.DataFrame(congress.members.bills(senate['id'][0])['bills']).head(3)

,active,bill_id,bill_type,bill_uri,committees,congress,congressdotgov_url,cosponsors,cosponsors_by_party,enacted,...,sponsor_id,sponsor_name,sponsor_party,sponsor_state,sponsor_title,sponsor_uri,summary,summary_short,title,vetoed
0,False,s2513-115,s,https://api.propublica.org/congress/v1/115/bil...,"Senate Health, Education, Labor, and Pensions ...",115,https://www.congress.gov/bill/115th-congress/s...,15,{'R': 15},None,...,A000360,Lamar Alexander,R,TN,Sen.,https://api.propublica.org/congress/v1/members...,,,A bill to improve school safety and mental hea...,None
1,False,s2509-115,s,https://api.propublica.org/congress/v1/115/bil...,Senate Energy and Natural Resources Committee,115,https://www.congress.gov/bill/115th-congress/s...,7,"{'R': 4, 'D': 2, 'I': 1}",None,...,A000360,Lamar Alexander,R,TN,Sen.,https://api.propublica.org/congress/v1/members...,,,A bill to establish the National Park Restorat...,None
2,True,s2434-115,s,https://api.propublica.org/congress/v1/115/bil...,"Senate Health, Education, Labor, and Pensions ...",115,https://www.congress.gov/bill/115th-congress/s...,0,{},None,...,A000360,Lamar Alexander,R,TN,Sen.,https://api.propublica.org/congress/v1/members...,,,"A bill to amend the Federal Food, Drug, and Co...",None

In [23]:
print(dir(congress.bills))

['BASE_URI', '__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', 'amendments', 'apikey', 'by_member', 'cosponsors', 'fetch', 'get', 'http', 'introduced', 'major', 'passed', 'recent', 'related', 'subjects', 'upcoming', 'updated']

In [24]:
pd.DataFrame(congress.bills.passed('senate')['bills']).head()

,active,bill_id,bill_slug,bill_type,bill_uri,committee_codes,committees,congressdotgov_url,cosponsors,cosponsors_by_party,...,sponsor_name,sponsor_party,sponsor_state,sponsor_title,sponsor_uri,subcommittee_codes,summary,summary_short,title,vetoed
0,True,hr4547-115,hr4547,hr,https://api.propublica.org/congress/v1/115/bil...,"[SSFI, HSWM]",Senate Finance Committee,https://www.congress.gov/bill/115th-congress/h...,75,"{'D': 41, 'R': 34}",...,Sam Johnson,R,TX,Rep.,https://api.propublica.org/congress/v1/members...,[],Strengthening Protections for Social Security ...,Strengthening Protections for Social Security ...,"To amend titles II, VIII, and XVI of the Socia...",None
1,True,s772-115,s772,s,https://api.propublica.org/congress/v1/115/bil...,"[HSJU, SLIA]",House Judiciary Committee,https://www.congress.gov/bill/115th-congress/s...,6,"{'D': 4, 'R': 2}",...,John McCain,R,AZ,Sen.,https://api.propublica.org/congress/v1/members...,[],Ashlynne Mike AMBER Alert in Indian Country Ac...,Ashlynne Mike AMBER Alert in Indian Country Ac...,A bill to amend the PROTECT Act to make Indian...,None
2,True,s140-115,s140,s,https://api.propublica.org/congress/v1/115/bil...,"[SLIA, HSII]",House Natural Resources Committee,https://www.congress.gov/bill/115th-congress/s...,1,{'R': 1},...,Jeff Flake,R,AZ,Sen.,https://api.propublica.org/congress/v1/members...,[HSII13],(Sec. 1) This bill amends the White Mountain A...,(Sec. 1) This bill amends the White Mountain A...,A bill to amend the White Mountain Apache Trib...,None
3,True,hr3979-115,hr3979,hr,https://api.propublica.org/congress/v1/115/bil...,[HSII],House Natural Resources Committee,https://www.congress.gov/bill/115th-congress/h...,17,"{'R': 12, 'D': 5}",...,Hakeem Jeffries,D,NY,Rep.,https://api.propublica.org/congress/v1/members...,[HSII10],(This measure has not been amended since it wa...,(This measure has not been amended since it wa...,To amend the Fish and Wildlife Act of 1956 to ...,None
4,True,hr3445-115,hr3445,hr,https://api.propublica.org/congress/v1/115/bil...,[HSFA],House Foreign Affairs Committee,https://www.congress.gov/bill/115th-congress/h...,8,"{'D': 6, 'R': 2}",...,Edward Royce,R,CA,Rep.,https://api.propublica.org/congress/v1/members...,[],African Growth and Opportunity Act and Millenn...,African Growth and Opportunity Act and Millenn...,To enhance the transparency and accelerate the...,None

In [25]:
pd.DataFrame(congress.bills.subjects('s2513',congress=cong))['subjects'].head()

0    {'name': 'Elementary and secondary education',...
1    {'name': 'Congressional oversight', 'url_name'...
2    {'name': 'Crime prevention', 'url_name': 'crim...
3    {'name': 'Child health', 'url_name': 'child-he...
4    {'name': 'Building construction', 'url_name': ...
Name: subjects, dtype: object

In [26]:
pd.DataFrame(congress.members.bills(hillary)['bills']).head()

,active,bill_id,bill_type,bill_uri,committees,congress,congressdotgov_url,cosponsors,cosponsors_by_party,enacted,...,sponsor_id,sponsor_name,sponsor_party,sponsor_state,sponsor_title,sponsor_uri,summary,summary_short,title,vetoed
0,None,s211-111,s,https://api.propublica.org/congress/v1/111/bil...,Senate Finance,111,https://www.congress.gov/bill/111th-congress/s...,61,"{'R': 16, 'D': 43, 'ID': 1, 'I': 1}",None,...,C001041,Hillary Rodham Clinton,D,NY,,https://api.propublica.org/congress/v1/members...,,,Calling for 2-1-1 Act of 2009,None
1,None,s182-111,s,https://api.propublica.org/congress/v1/111/bil...,Senate Finance,111,https://www.congress.gov/bill/111th-congress/s...,42,"{'D': 41, 'I': 1}",None,...,C001041,Hillary Rodham Clinton,D,NY,,https://api.propublica.org/congress/v1/members...,,,Paycheck Fairness Act,None
2,None,sres727-110,sres,https://api.propublica.org/congress/v1/110/bil...,,110,https://www.congress.gov/bill/110th-congress/s...,3,{'D': 3},None,...,C001041,Hillary Rodham Clinton,D,NY,,https://api.propublica.org/congress/v1/members...,,,A resolution honoring the victims of the bombi...,None
3,None,sres720-110,sres,https://api.propublica.org/congress/v1/110/bil...,"Senate Health, Education, Labor, and Pensions",110,https://www.congress.gov/bill/110th-congress/s...,2,"{'D': 1, 'R': 1}",None,...,C001041,Hillary Rodham Clinton,D,NY,,https://api.propublica.org/congress/v1/members...,,,A resolution supporting the goals and ideals o...,None
4,None,s19-110,s,https://api.propublica.org/congress/v1/110/bil...,Senate Finance,110,https://www.congress.gov/bill/110th-congress/s...,0,{},None,...,C001041,Hillary Rodham Clinton,D,NY,,https://api.propublica.org/congress/v1/members...,,,A bill to amend the Internal Revenue Code of 1...,None